<% if (pageID == 'highlightFilter') { %>
  <form id="filterForm" class="form-horizontal" action="#">
    <div class="row">
      <% var iterator1 = categories.values() %>
      <% for (let i = 0; i < categories.size; i++) { %>
        <div class="form-check form-check-inline checkbox-rounded checkbox-success-filled">
          <% var nextCat = iterator1.next().value  %>
          <input class="form-check-input" type="checkbox" id="inlineCheckbox<%= i %>" value=<%= i %> <%- selectCategories.has(nextCat) ? "checked" : "" %>  >
          <label class="form-check-label" for="inlineCheckbox<%= i %>"><%= nextCat %></label>
        </div>
      <% } %>
      <span class="input-group-btn">
        <button id="filterSubmit" class="btn btn-info" type="submit">Filter</button>
      </span>
    </div>

  </form>
<% } %>

<article class="highlightslist <% if (pageID == 'home') { %>jumbotron d-sm-none d-md-block <% } %>">
  <% if (pageID == 'home') { %>
  <div class="row">
  <% } %>
  <% highlights.forEach(function(item) { %>


    <div class="<% if (pageID == 'home') { %>col-xl-3 col-lg-4 col-md-6  text-center<% } else { %>col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12 <% } %>">
      <div class="row">
        <h3 class="highlightslist-title"><%= item.site %></h3>
      </div>
      <% if (pageID == 'home') { %>

          <div class="row">
            <a href="/highlights/<%= item.id %>">
              <img class="highlightslist-img rounded-circle" src="<%= item.image %>" width="300px" alt="Photo of <%= item.site %>">
            </a>
          </div>

      <% } %>
      <% if (pageID == 'highlightList' || pageID == 'highlightFilter') { %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  col-xl-6" >
            <a href="/highlights/<%= item.id %>" style="display:block;">
              <img class="highlightslist-img rounded-circle pull-left" src="<%= item.image %>" width="300px" alt="Photo of <%= item.site %>">
            </a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" >
            <iframe src="<%= item.videoEmbed %>" ></iframe>
          </div>
        </div>
      <% } %>
      <% if (pageID == 'highlightDetail') { %>
        <img class="highlightslist-img img-responsive pull-left" width="500px" src="<%= item.image %>"  alt="Photo of <%= item.site %>">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <iframe src="<%= item.videoEmbed %>" >
            </iframe>
          </div>
          <div id="map"  class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
        </div>
        <%- item.info %>
      <% } %>
    </div>

    <% if (pageID == 'highlightDetail') { %>
    <script>
      function initMap() {
        var pos = {lat : <%= item.lat %>, lng :  <%- item.long %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: pos
        });
        var marker = new google.maps.Marker({
          position: pos,
          map: map
        });
      }

      </script>
    <% }  %> <!-- initMap() -->

  <%  }); %><!-- for each -->
  <% if (pageID == 'home') { %>
  </div>
  <% } %>
</article>
